<div class="hero-container">
    <div class="hero-text">
        <h1>搜索引擎
        </h1>
        <p>
            我们提到搜索引擎，更多的是指网络搜索引擎，是一种从万维网上搜集信息以供用户进行查询的系统，搜索结果多以行列式的链接展示。常用的搜索引擎有 Google，百度，Bing 等。
        </p>
    </div>
</div>