---
 
layout: layouts/base.njk
 
title: about
 
---
<div class="about-container">
    <h2>About Me</h2>
    <div class="flex-about">
        <div class="about-text">
            <p>
                ed.
            </p>
            <p></p>
        </div>
    </div>
</div>